<div class="map-container" style="width: 90%; height: 90%;">
    <div id="map"></div>
    <div class="map-group-icon">
        <div class="map-icon layer-icon" (click)="getLayers()"></div>
        <div class="map-icon draw-icon" (click)="getDraw()"></div>
        <div class="map-icon search-icon"></div>
        <div class="map-icon location-icon" (click)="getLocation()"></div>
    </div>
</div>
<p-button icon="pi pi-save" label="POST" style="margin-right: 10px" (click)=saveDraw()></p-button>
<p-button icon="pi pi-cloud-download" label="GET" style="margin-right: 10px"></p-button>
<p-button icon="pi pi-trash" label="DELETE" style="margin-right: 10px"></p-button>
<p-button label="console.log" style="margin-right: 10px" (click)="log()"></p-button>